.details-about-bouncy {
  background-color: #F3F3F3;
  padding-top: 60px;
  box-sizing: border-box;
}
.details-about-bouncy h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "myriad pro regular";
  color: #333B46;
  margin-right: auto;
  margin-left: auto;
}
.details-about-bouncy .lab2 {
  width: 457px;
  text-align: center;
  font-size: 14px;
  font-family: "open sans";
  color: #333B46;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 45px;
}
@media (max-width: 768px) {
  .details-about-bouncy .lab2 {
    width: 80%;
  }
}
.details-about-bouncy .buttons {
  width: 215px;
  height: 55px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.details-about-bouncy .buttons * {
  background-color: #81868E;
  width: 54px;
  height: 54px;
  border-radius: 54px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.details-about-bouncy .buttons .button1 {
  background-color: #19BD9A;
  background-image: url(../images/heart.png);
}
.details-about-bouncy .buttons .button2 {
  background-image: url(../images/mouse.png);
}
.details-about-bouncy .buttons .button3 {
  background-image: url(../images/lamp.png);
}
.details-about-bouncy .swiper-container {
  width: 80%;
}
.details-about-bouncy .swiper-slide .content1 {
  margin-bottom: 20px;
  color: #464646;
  font-size: 20px;
  font-family: "open sans";
}
.details-about-bouncy .swiper-slide .content2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  grid-gap: 30px;
}
@media (max-width: 768px) {
  .details-about-bouncy .swiper-slide .content2 {
    flex-direction: column;
    justify-content: flex-start;
    grid-gap: 15px;
  }
  .details-about-bouncy .swiper-slide .content2 > * {
    width: 100%;
  }
}
.details-about-bouncy .swiper-slide .content2 .con1 {
  color: #81868E;
  font-size: 20px;
  font-family: "open sans";
}
.details-about-bouncy .swiper-slide .content2 .con2 {
  color: #81868E;
  font-size: 14px;
  font-family: "open sans";
}
