@media (min-width: 875px) {
  header {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 9999;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    height: 60px;
  }
  header .logo {
    display: block;
    font-family: "BIG JOHN";
    color: white;
    font-size: 19px;
    float: left;
    text-decoration: none;
    width: auto;
    height: auto;
    padding: 5px;
    border-radius: 5px;
  }
  header .logo:hover {
    font-size: 21px;
    transition-property: font-size;
    transition-duration: 0.5s;
  }
  header .logo:focus-visible {
    background-color: #B3DAE0;
    transition-duration: 0s;
  }
  header .menu {
    display: none;
  }
  header ul {
    display: flex;
    flex-direction: row;
    float: right;
    align-items: center;
  }
  header ul a {
    display: block;
    color: white;
    font-family: "open sans";
    font-size: 17px;
    flex-basis: 100px;
    margin-right: 40px;
    text-decoration: none;
    width: auto;
    height: auto;
    padding: 5px;
    border-radius: 5px;
  }
  header ul a:hover {
    background-color: #140F23;
    color: white;
    transition-property: background-color, color;
    transition-duration: 0.5s;
  }
  header ul a:focus-visible {
    background-color: #B3DAE0;
    transition-duration: 0s;
  }
  header ul a:active {
    background-color: #443F63;
    transition-property: background-color;
    transition-duration: 0s;
  }
}
@media (max-width: 874px) {
  header {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 9997;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;
  }
  header .logo {
    font-family: "BIG JOHN";
    color: white;
    font-size: 19px;
    line-height: 36px;
    float: left;
    text-decoration: none;
  }
  header .menu {
    display: block;
    float: right;
    background-image: url(../images/menu-icon.svg);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    z-index: 9999;
  }
  header .menuClose {
    display: none;
  }
  header .menuOpen {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: 60px;
    left: 0px;
    z-index: 9998;
    box-sizing: border-box;
    padding-top: 20px;
    background-color: white;
    height: 50vh;
  }
  header .menuOpen li {
    height: 40px;
    width: 100%;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    font-family: "open sans";
    color: #efefef;
  }
  header .menuOpen li:nth-child(odd) {
    background-color: #29CDAA;
  }
  header .menuOpen li:nth-child(even) {
    background-color: #0BAF8C;
  }
  header .menuOpen li > * {
    text-decoration: none;
    color: white;
  }
}
.headerOpen {
  background-color: white !important;
}
.headerOpen .logo {
  color: black;
}
.headerClose {
  background-color: rgba(0, 0, 0, 0);
}
