.our-price {
  background-color: #F3F3F3;
  padding-top: 80px;
  padding-bottom: 50px;
  box-sizing: border-box;
}
.our-price > .tittle {
  color: #333B46;
  font-size: 20px;
  font-family: "myriad pro regular";
  margin-bottom: 41px;
  text-align: center;
}
.our-price .text {
  color: #81868E;
  font-size: 14px;
  font-family: "open sans";
  margin-bottom: 60px;
  text-align: center;
}
.our-price .grid {
  display: grid;
}
@media (min-width: 1025px) {
  .our-price .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .our-price .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "a1 a2" "a3 a3";
  }
  .our-price .grid .premium {
    grid-area: a1;
  }
  .our-price .grid .start {
    grid-area: a2;
  }
  .our-price .grid .exclusive {
    grid-area: a3;
  }
}
@media (max-width: 768px) {
  .our-price .grid {
    grid-template-rows: 1fr 1fr 1fr;
  }
}
.our-price .grid > * {
  height: 290px;
  padding: 10px;
  box-sizing: border-box;
}
.our-price .grid .premium .tittle {
  height: 50px;
  background-color: #19BD9A;
  font-size: 20px;
  font-family: "BIG JOHN";
  color: white;
  text-align: center;
  line-height: 50px;
}
.our-price .grid .premium .content {
  height: 220px;
  background-color: white;
  text-align: center;
  color: #81868E;
  font-family: "open sans";
  font-size: 20px;
  padding-top: 60px;
  box-sizing: border-box;
}
.our-price .grid .premium .content span {
  color: #19BD9A;
  font-size: 30px;
  font-family: "BIG JOHN";
}
.our-price .grid .start .content {
  height: 220px;
  background-color: white;
  padding-top: 35px;
  padding-left: 30px;
  box-sizing: border-box;
}
.our-price .grid .start .content div {
  color: #81868E;
  font-family: "open sans";
  font-size: 16px;
  line-height: 1.8;
}
.our-price .grid .start .tittle {
  height: 50px;
  background-color: #19BD9A;
  font-size: 20px;
  font-family: "open sans";
  color: white;
  text-align: center;
  line-height: 50px;
}
.our-price .grid .exclusive .tittle {
  height: 50px;
  background-color: #19BD9A;
  font-size: 20px;
  font-family: "BIG JOHN";
  color: white;
  text-align: center;
  line-height: 50px;
}
.our-price .grid .exclusive .content {
  height: 220px;
  background-color: white;
  text-align: center;
  color: #81868E;
  font-family: "open sans";
  font-size: 20px;
  padding-top: 60px;
  box-sizing: border-box;
}
.our-price .grid .exclusive .content span {
  color: #19BD9A;
  font-size: 30px;
  font-family: "BIG JOHN";
}
