.testimonials {
  background-color: #F3F3F3;
  padding-top: 80px;
  padding-bottom: 50px;
  box-sizing: border-box;
}
.testimonials .lable11 {
  text-align: center;
  margin-bottom: 40px;
  font-family: "myriad pro regular";
  font-size: 20px;
}
.testimonials .lable22 {
  width: 457px;
  text-align: center;
  margin-bottom: 60px;
  font-size: 14px;
  font-family: "open sans";
  margin-left: auto;
  margin-right: auto;
  color: #81868E;
}
@media (max-width: 768px) {
  .testimonials .lable22 {
    width: 80%;
  }
}
.testimonials .comments {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  padding: 5%;
}
.testimonials .comments .swiper-container {
  margin-bottom: 30px;
}
.testimonials .comments .swiper-container .swiper-wrapper .slide1 {
  display: flex;
  flex-direction: row;
}
.testimonials .comments .swiper-container .swiper-wrapper .slide1 img {
  width: 130px;
  height: 130px;
  margin-right: 30px;
}
@media (max-width: 785px) {
  .testimonials .comments .swiper-container .swiper-wrapper .slide1 img {
    display: none;
  }
}
.testimonials .comments .swiper-container .swiper-wrapper .slide1 .text .text1 {
  margin-bottom: 30px;
  font-size: 16px;
  font-family: "open sans";
  color: #81868E;
  text-align: justify;
}
.testimonials .comments .swiper-container .swiper-wrapper .slide1 .text .text2 {
  margin-bottom: 12px;
  font-size: 16px;
  font-family: "open sans";
  color: #19BD9A;
}
.testimonials .comments .swiper-container .swiper-wrapper .slide1 .text .text3 {
  font-size: 14px;
  font-family: "open sans";
  color: #464646;
}
.testimonials .comments .swiper-container .swiper-wrapper .slide2 {
  display: flex;
  flex-direction: row;
}
.testimonials .comments .swiper-container .swiper-wrapper .slide2 img {
  width: 130px;
  height: 130px;
  margin-right: 30px;
}
@media (max-width: 785px) {
  .testimonials .comments .swiper-container .swiper-wrapper .slide2 img {
    display: none;
  }
}
.testimonials .comments .swiper-container .swiper-wrapper .slide2 .text .text1 {
  margin-bottom: 30px;
  font-size: 16px;
  font-family: "open sans";
  color: #81868E;
  text-align: justify;
}
.testimonials .comments .swiper-container .swiper-wrapper .slide2 .text .text2 {
  margin-bottom: 12px;
  font-size: 16px;
  font-family: "open sans";
  color: #19BD9A;
}
.testimonials .comments .swiper-container .swiper-wrapper .slide2 .text .text3 {
  font-size: 14px;
  font-family: "open sans";
  color: #464646;
}
.testimonials .comments .swiper-container .swiper-wrapper .slide3 {
  display: flex;
  flex-direction: row;
}
.testimonials .comments .swiper-container .swiper-wrapper .slide3 img {
  width: 130px;
  height: 130px;
  margin-right: 30px;
}
@media (max-width: 785px) {
  .testimonials .comments .swiper-container .swiper-wrapper .slide3 img {
    display: none;
  }
}
.testimonials .comments .swiper-container .swiper-wrapper .slide3 .text .text1 {
  margin-bottom: 30px;
  font-size: 16px;
  font-family: "open sans";
  color: #81868E;
  text-align: justify;
}
.testimonials .comments .swiper-container .swiper-wrapper .slide3 .text .text2 {
  margin-bottom: 12px;
  font-size: 16px;
  font-family: "open sans";
  color: #19BD9A;
}
.testimonials .comments .swiper-container .swiper-wrapper .slide3 .text .text3 {
  font-size: 14px;
  font-family: "open sans";
  color: #464646;
}
.testimonials .comments .buttons {
  width: 55px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.testimonials .comments .buttons .button1 {
  width: 11px;
  height: 11px;
  background-color: #19BD9A;
  border: solid 1px #19BD9A;
  border-radius: 11px;
}
.testimonials .comments .buttons .button2 {
  width: 11px;
  height: 11px;
  border: solid 1px #19BD9A;
  border-radius: 11px;
}
.testimonials .comments .buttons .button3 {
  width: 11px;
  height: 11px;
  border: solid 1px #19BD9A;
  border-radius: 11px;
}
@media (max-width: 860px) {
  .slider_item .photo {
    display: none;
  }
}
