.the-team {
  padding-top: 90px;
  box-sizing: border-box;
}
.the-team .tittle {
  text-align: center;
  margin-bottom: 40px;
}
.the-team .text {
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .the-team .text {
    margin-bottom: 30px;
  }
}
.the-team .swiper-container {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .the-team .swiper-container {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .the-team .swiper-container {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .the-team .swiper-container .swiper-wrapper .swiper-slide .photo {
    display: none;
  }
  .the-team .swiper-container .swiper-wrapper .swiper-slide .features {
    margin: 0px auto;
  }
}
.the-team .swiper-container .swiper-wrapper > * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.the-team .swiper-container .swiper-wrapper > * .photo {
  max-width: 100%;
  height: auto;
}
.the-team .swiper-container .swiper-wrapper > * .features {
  text-align: right;
  margin-top: 28px;
  height: 308px;
  padding-right: 10px;
}
.the-team .swiper-container .swiper-wrapper > * .features .name {
  margin-bottom: 10px;
  color: #464646;
  font-size: 20px;
  font-family: "open sans";
  text-align: right;
}
.the-team .swiper-container .swiper-wrapper > * .features .position {
  margin-bottom: 15px;
  color: #81868E;
  font-size: 14px;
  font-family: "myriad pro regular";
  text-align: right;
  font-style: italic;
}
.the-team .swiper-container .swiper-wrapper > * .features .description {
  margin-bottom: 20px;
  color: #81868E;
  font-size: 14px;
  font-family: "open sans";
  text-align: right;
  margin-bottom: 48px;
}
.the-team .swiper-container .swiper-wrapper > * .features .branding {
  position: relative;
  width: 60%;
  height: 25px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: 0;
}
.the-team .swiper-container .swiper-wrapper > * .features .branding .label {
  float: left;
  color: #81868E;
  font-size: 16px;
  font-family: "open sans";
}
.the-team .swiper-container .swiper-wrapper > * .features .branding .percent {
  float: right;
  color: #81868E;
  font-size: 16px;
  font-family: "open sans";
}
.the-team .swiper-container .swiper-wrapper > * .features .branding .progress {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #E1E4E9;
  bottom: 0px;
}
.the-team .swiper-container .swiper-wrapper > * .features .branding .progress .progress2 {
  height: 100%;
  background-color: #19BD9A;
}
.the-team .swiper-container .swiper-wrapper > * .features .web-design {
  position: relative;
  width: 60%;
  height: 25px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: 0;
}
.the-team .swiper-container .swiper-wrapper > * .features .web-design .label {
  float: left;
  color: #81868E;
  font-size: 16px;
  font-family: "open sans";
}
.the-team .swiper-container .swiper-wrapper > * .features .web-design .percent {
  float: right;
  color: #81868E;
  font-size: 16px;
  font-family: "open sans";
}
.the-team .swiper-container .swiper-wrapper > * .features .web-design .progress {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #E1E4E9;
  bottom: 0px;
}
.the-team .swiper-container .swiper-wrapper > * .features .web-design .progress .progress2 {
  height: 100%;
  background-color: #19BD9A;
}
.the-team .swiper-container .swiper-wrapper > * .features .user-interface {
  position: relative;
  width: 60%;
  height: 25px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: 0;
}
.the-team .swiper-container .swiper-wrapper > * .features .user-interface .label {
  float: left;
  color: #81868E;
  font-size: 16px;
  font-family: "open sans";
}
.the-team .swiper-container .swiper-wrapper > * .features .user-interface .percent {
  float: right;
  color: #81868E;
  font-size: 16px;
  font-family: "open sans";
}
.the-team .swiper-container .swiper-wrapper > * .features .user-interface .progress {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #E1E4E9;
  bottom: 0px;
}
.the-team .swiper-container .swiper-wrapper > * .features .user-interface .progress .progress2 {
  height: 100%;
  background-color: #19BD9A;
}
@media (max-width: 768px) {
  .the-team .swiper-container .swiper-wrapper > * .features .feat1,
  .the-team .swiper-container .swiper-wrapper > * .features .feat2,
  .the-team .swiper-container .swiper-wrapper > * .features .feat3 {
    width: 100%;
  }
}
.the-team .swiper-container .swiper-wrapper .slide1 .branding .progress2 {
  width: 80%;
}
.the-team .swiper-container .swiper-wrapper .slide1 .web-design .progress2 {
  width: 65%;
}
.the-team .swiper-container .swiper-wrapper .slide1 .user-interface .progress2 {
  width: 75%;
}
.the-team .swiper-container .swiper-wrapper .slide2 .branding .progress2 {
  width: 50%;
}
.the-team .swiper-container .swiper-wrapper .slide2 .web-design .progress2 {
  width: 75%;
}
.the-team .swiper-container .swiper-wrapper .slide2 .user-interface .progress2 {
  width: 80%;
}
.the-team .swiper-container .swiper-wrapper .slide3 .branding .progress2 {
  width: 90%;
}
.the-team .swiper-container .swiper-wrapper .slide3 .web-design .progress2 {
  width: 65%;
}
.the-team .swiper-container .swiper-wrapper .slide3 .user-interface .progress2 {
  width: 80%;
}
.the-team .buttons {
  width: 55px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.the-team .buttons .button1 {
  width: 11px;
  height: 11px;
  border: solid 1px #19BD9A;
  background-color: #19BD9A;
  border-radius: 11px;
}
.the-team .buttons .button2 {
  width: 11px;
  height: 11px;
  border: solid 1px #19BD9A;
  border-radius: 11px;
}
.the-team .buttons .button3 {
  width: 11px;
  height: 11px;
  border: solid 1px #19BD9A;
  border-radius: 11px;
}
.the-team .footer {
  height: 200px;
  background-image: url("../images/team-footer.jpg");
  padding-top: 60px;
  box-sizing: border-box;
}
.the-team .footer .text1 {
  margin-bottom: 27px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: "open sans";
}
.the-team .footer .text2 {
  display: block;
  width: 141px;
  height: 38px;
  border: solid 1px white;
  border-radius: 38px;
  text-align: center;
  line-height: 38px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 16px;
  font-family: "open sans";
  text-decoration: none;
}
.the-team .footer .text2:hover {
  background-color: white;
  color: black;
  transition-property: background-color, color;
  transition-duration: 0.5s;
}
.the-team .footer .text2:focus-visible {
  background-color: #B3DAE0;
  transition-duration: 0s;
}
.the-team .footer .text2:active {
  background-color: gray;
  transition-property: background-color;
  transition-duration: 0s;
}
